.icon-cart {
    width: 48px;
    height: 48px;
    position: relative;
    margin-left: 25px;
    margin-bottom: 25px;
    padding: 25px;
  }

  .total-cart {
    display: flex;
    flex-direction: row;
    padding: 15px;
    text-decoration: none;
    font-size: 20px;
    color: black
  }